.p3{
    text-align: center;
    color: white;
    font-size: x-large;
}
.sqr{
    backdrop-filter: blur(6px);
    background-color:rgba(204, 118, 5, 0.788);
    border-radius: 7px;
    width: 640px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    margin-top: 40px;
    padding: 10px;
    box-shadow: 0px 20px 35px rgb(204, 149, 77);
    margin-left: 340px;
}
.p4{
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: xx-large;
}
.p4{
    margin-top: 40px;
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: xx-large;
}
.btn2{
    width: 200px;
    background-color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0 10px 230px;
}
.p1{
    color: white;
    text-align: center;
}