.box{
    backdrop-filter: blur(6px);
    /*background-color: rgba(255, 255, 255, 0.466);*/
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 7px;
    padding: 55px;
    margin-top: 20px;
    left: 10px;
    height: fit-content;
    width: 320px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    margin-left: 100px;
} /* box left side */
.pic{
    padding: 4px;
    margin-left: -32px;
    border: 2px solid rgb(10, 10, 24);
    width: 370px;
    box-shadow: 5px 5px 10px white;
} /* download link - 3 images */
.dpara1{
    font-size: xxx-large;
    margin-left: 110px;
    margin-top: 110px;
    display: flex;
    align-items: center;
    color: goldenrod;
    text-shadow:5px 5px 10px goldenrod;
} /* IMA & Mobile App */
.dpara1 span{
    margin-right: 50px;
}
.dpara2{
    text-decoration: solid;
    font-size: large;
    margin-top: -10px;
    margin-left: 28px;
    text-shadow: 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    line-height: -11;
} /* click on any to download */
.rotate{
    width: 70px;
    height: 70px;
    margin-top: -90px;
    margin-left: 15px;
    animation: rotate 12s linear infinite; 
} /* logo rotation next to para1 */
@keyframes rotate{
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}  /* Refference: https://youtu.be/NKlHQCq0gRo */
.ryt{
    margin-right: 20px;
}
.qr{
    margin-left: 160px;
    margin-right: 0px;
    margin-top: 100px;
    size: 50px;
} /*  phone styles */
.zoom{
    animation: zoomInOut 5s infinite alternate;
} /* Phone in and out transfermation */
@keyframes zoomInOut {
    0% {
        transform: scale(1); /* Initial scale */
    }
    100% {
        transform: scale(1.2); /* Zoomed scale */
    }
} /* Refference: https://www.w3resource.com/html-css-exercise/html-css-practical-exercises/html-css-practical-exercise-45.php */
.right{
    flex: 1;
}
.containerA{
    display: flex;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
}