body{
    background:black
}
.div1{
    border: 1px solid black;
    height: 715px;
}
.div11{
    border: 1px solid black;
    height: 100px;
}
.div12 a{

    text-decoration: none;
    color: black;
}
.div11 p{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 100px;
    margin-top: 1px;
    font-weight: 800;
    color: rgb(137, 117, 3);
}
.b1{
    font-size: 70px;
    align-items: center;
    margin-right: 25px;
    margin-left: 40px;
    margin-top: 15%;
    background:sandybrown;
    


    
}