:root{
    --main-color:#bc9667;
    --secondary-coolor:#edeae3;
    --text-color:#1b1b1b;
    --bg-color:#fff;
    --box-shadow:2px 2px 10px 14px rgb(14 55 54 / 15%);

}
@font-face{
    font-family: 'Future';
    src: url("../fonts/future.ttf")
}

*
{
    font-family: 'Future';
}
.header{
    position:absolute;
    top: 20px;
    left:180px;
    padding: 20px 50px;
    background-color:transparent;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index:100;
}

body{
    background-image: url("../images/bgmain.png");
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-position: center;
    background-color:#454545;
    overflow-y: auto;
    overflow-x: auto;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    padding:0;
    width: 100%;
    height: 100vh;
}

.navbar a{
    position: relative;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left:45px ;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFB000;
    transition:0.3s;
}
.navbar a:hover::before{
    width: 100%;
}

footer{
    background-color:transparent;
}
.footerContainer{
    /*width: 100%;*/
    padding: 70px 30px 20px ;
    justify-content:space-between;
    
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color:transparent;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}



.gallery{
    
    
    top: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 35rem;
    color: black;
    font-size: 4rem;

}
.head h1{

width: 100%;
top: 35%;
text-transform: capitalize;
color:black;
}

.head h2{
    position: absolute;
    top: 51.1%;
    right: 1230px;
    border: 1px solid black;
    border-radius: 85px;
    padding: 0.5px 6px;
    font-size: 18px;
    background-color: grey;
    color: white;

}
.product-container{
    left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
    color: #111;

}
.product-container .pic{

    left: 50%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5;
    box-shadow: var(--box-shadow);
}
.product-container img{
    width: 100%;
    height: 350px;
    border-radius: 0.5rem;

}
.vidios {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 2rem;
}
.vidios h2{
    position: absolute;
    top: 61.2rem;
    right: 1230px;
    border: 1px solid black;
    border-radius: 85px;
    padding: 0.5px 6px;
    font-size: 18px;
    background-color: grey;
    color: white;

}
.product-container .vid{
    position: relative;
    border: 1px solid black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}


.t1{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.vv2{
    height: 250px;
    width: 380px;
    

}
.product-container  .ll{
    color: #111;
    border: 1px solid black;
    border-radius: 3px;
}