.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    background-color: var(--text-color);
    transition: 0.5s linear;

}

.navbar li a {
    display: block;
    color: var(--bg-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

.navbar li a:hover {
    background-color:darkgoldenrod;
    border-radius: 0.2rem;
    transition: 0.5s all linear;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(0, 0, 0);
    text-align: center; 
}

.navbar li {
    display: inline-block;
    margin: 0 10px; 
    color: aliceblue;
}

li{
    float: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    height: 7%;
  }

.title{
    color: gold;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
