:root{
    --main-color:#d4af37;
    --secondary-coolor:#c0a343;
    --text-color:#1b1b1b;
    --bg-color:#fff;
    --box-shadow:2px 2px 10px 14px rgb(14 55 54 /15%);

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    background-color: var(--text-color);
    transition: 0.5s linear;

}

.navbar a {
    display: block;
    color: var(--bg-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

.navbar a:hover {
    background-color: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.5s all linear;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(0, 0, 0);
    text-align: center; 
}

.navbar li {
    display: inline-block;
    margin: 0 10px; 
    
}

li{
    float: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    height: 7%;
  }

h1{
    color: gold;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
