*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;  
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1 ;
    filter: blur(0.8px);
}

.content{
    color: #fff;
    margin-top: 200px;
    text-align: center;
}


