
.float{
    position: relative; 
    z-index: 1; 
    padding: 20px; 
    color: white; 
}


.header{
    display: inline-block;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100vw; 
    height:20vh;   

    
    
}



.headtext{
    font-size:xx-large;
    font-family:Future ;
}

@font-face{
    font-family:Future;
    src: url(../fonts/Unbounded/future.ttf);
}




