.login-box{
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 7px;
    padding: 55px;
    margin-top: 110px;
    width: 300px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    margin-left: 450px;
}
h1.header{
    color: black;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    border: black;
}
label{
    display: block;
    
}
input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 8px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    background: transparent;
    outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus{
    border-bottom: 1px solid black;
}
input[type="submit"]{
    width: 100%;
    padding: 8px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    background: black;
    outline: black;
    color: white;
}
.fp{
    text-decoration: none;
    color: black;
}
button.btn{
    width: 100%;
    padding: 8px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    background: black;
    outline: black;
}
.su{
    color: white;
    text-decoration: none;
}
body.box{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}